<template>
    <main>
        <router-view></router-view>
    </main>
</template>

<script>
    import { mapState, mapGetters } from 'vuex'
    export default {
        computed: {
            ...mapState(['token']),
            ...mapGetters(['isAuth'])
        },
    }
</script>
