<template>
    <button @click.prevent="postLogout" class="btn btn-primary">Logout</button>
</template>

<script>
    import {mapActions, mapMutations} from "vuex";

    export default {
        name: "Home",
        methods: {
            ...mapActions('logout', ['submit']),
            ...mapMutations(['CLEAR_ERRORS']),
            postLogout() {
                this.submit(this.loginData)
                    .then(() => {
                        this.CLEAR_ERRORS();
                        this.$router.push({name: 'login'})
                    })
                    .catch(err => {
                        alert(err)
                    })
            }
        }
    }
</script>

<style scoped>

</style>
