<template>
    <div class="container">
        <section class="hero is-primary is-fullheight">
            <div class="hero-body">
                <div class="container">
                    <div class="columns is-centered">
                        <div class="column is-5-tablet is-4-desktop is-3-widescreen">
                            <form class="box" v-on:submit.prevent="postLogin">
                                <div class="field">
                                    <label class="label" for="username">Username</label>
                                    <div class="control has-icons-left">
                                        <input class="input"
                                               id="username" placeholder="e.g. nashirjamali@gmail.com"
                                               required
                                               type="username"
                                               v-model="loginData.username">
                                        <span class="icon is-small is-left"><i class="fa fa-envelope"></i></span>
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label" for="password">Password</label>
                                    <div class="control has-icons-left">
                                        <input class="input" id="password"
                                               placeholder="*******"
                                               required
                                               type="password"
                                               v-model="loginData.password">
                                        <span class="icon is-small is-left"><i class="fa fa-lock"></i></span>
                                    </div>
                                </div>
                                <div class="field">
                                    <button class="button is-success" type="submit">
                                        Login
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
    import {mapActions, mapGetters, mapMutations, mapState} from 'vuex';

    export default {
        name: "Login",
        data() {
            return {
                loginData: {
                    username: '',
                    password: ''
                }
            }
        },
        created() {
            if (this.isAuth) {
                this.$router.push({name: 'home'})
            }
        },
        computed: {
            ...mapGetters(['isAuth']),
            ...mapState(['errors'])
        },
        methods: {
            ...mapActions('auth', ['submit']),
            ...mapMutations(['CLEAR_ERRORS']),
            postLogin() {
                this.submit(this.loginData)
                    .then(() => {
                        if (this.isAuth) {
                            this.CLEAR_ERRORS();
                            this.$router.push({name: 'home'})
                        }
                    })
                    .catch(err => {
                        alert(err)
                    })
            }
        }
    }
</script>

<style scoped>

</style>
